.header-txt{
    color:white !important;
}

.number_error{
    margin-top: 0.5rem;
    font-size: .925rem;
    color: #f1416c;
}

table.dataTable thead>tr>th.sorting {
    padding-right: 0px !important;
}

.new-full-width {
    max-width: 100% !important;
}

.mr-0 {
  margin-right: 0px !important;
}

ul.select2-results__options {
    font-size: 1.1rem !important;
}

.daterangepicker.ltr.show-ranges.opensright.show-calendar {
    margin-right: 30px !important;
}

.daterangepicker.ltr.show-calendar.opensright {
    margin-right: 30px;
}

.w-80 {
    width: 80% !important;
}

.w-20 {
    width: 20% !important;
}

a.btn.btn-primary.full-button {
    width: -webkit-fill-available !important;
}

@media only screen and (max-width: 600px) {
    .card-body.mobile-padding {
        padding: 0rem 0rem !important;
    }

    button.btn.btn-primary {
        width: -webkit-fill-available;
    }

    button.btn.btn-light-primary.full-button {
        width: -webkit-fill-available;
    }

    .w-250px {
        width: 300px !important;
    }

    table.dataTable{
        width: 1280px !important;
    }

    .d-flex.justify-content-end.mobileflex {
        display: flex;
        flex-direction: column;
    }

    .card-toolbar.flex-row-fluid.justify-content-end.mobflex {
        flex: inherit;
    }

    .w-225px {
        width: 300px !important;
    }

    .w-225px.me-3.mobilewidth {
        margin-right: 0px !important;
    }

    .mw-250px {
        max-width: 300px !important;
    }
  }

